# T20 DATA - Cleaning, Transformation and Preprocessing

## Importing required libraries

In [1]:
import pandas as pd
import json
import re

## Processing File I : Match Summary

In [2]:
with open('T20_Match_Results.json') as fptr:
    data = json.load(fptr)
data

[{'matchSummary': [{'team1': 'Namibia',
    'team2': 'Sri Lanka',
    'winner': 'Namibia',
    'margin': '55 runs',
    'ground': 'Geelong (564)',
    'matchDate': 'Oct 16, 2022',
    'scorecard': 'T20I # 1823'},
   {'team1': 'Netherlands',
    'team2': 'U.A.E.',
    'winner': 'Netherlands',
    'margin': '3 wickets',
    'ground': 'Geelong (564)',
    'matchDate': 'Oct 16, 2022',
    'scorecard': 'T20I # 1825'},
   {'team1': 'Scotland',
    'team2': 'West Indies',
    'winner': 'Scotland',
    'margin': '42 runs',
    'ground': 'Hobart (905)',
    'matchDate': 'Oct 17, 2022',
    'scorecard': 'T20I # 1826'},
   {'team1': 'Ireland',
    'team2': 'Zimbabwe',
    'winner': 'Zimbabwe',
    'margin': '31 runs',
    'ground': 'Hobart (905)',
    'matchDate': 'Oct 17, 2022',
    'scorecard': 'T20I # 1828'},
   {'team1': 'Namibia',
    'team2': 'Netherlands',
    'winner': 'Netherlands',
    'margin': '5 wickets',
    'ground': 'Geelong (564)',
    'matchDate': 'Oct 18, 2022',
    'scorecard': 'T20I # 1830'},
   {'team1': 'Sri Lanka',
    'team2': 'U.A.E.',
    'winner': 'Sri Lanka',
    'margin': '79 runs',
    'ground': 'Geelong (564)',
    'matchDate': 'Oct 18, 2022',
    'scorecard': 'T20I # 1832'},
   {'team1': 'Ireland',
    'team2': 'Scotland',
    'winner': 'Ireland',
    'margin': '6 wickets',
    'ground': 'Hobart (905)',
    'matchDate': 'Oct 19, 2022',
    'scorecard': 'T20I # 1833'},
   {'team1': 'West Indies',
    'team2': 'Zimbabwe',
    'winner': 'West Indies',
    'margin': '31 runs',
    'ground': 'Hobart (905)',
    'matchDate': 'Oct 19, 2022',
    'scorecard': 'T20I # 1834'},
   {'team1': 'Netherlands',
    'team2': 'Sri Lanka',
    'winner': 'Sri Lanka',
    'margin': '16 runs',
    'ground': 'Geelong (564)',
    'matchDate': 'Oct 20, 2022',
    'scorecard': 'T20I # 1835'},
   {'team1': 'Namibia',
    'team2': 'U.A.E.',
    'winner': 'U.A.E.',
    'margin': '7 runs',
    'ground': 'Geelong (564)',
    'matchDate': 'Oct 20, 2022',
    'scorecard': 'T20I # 1836'},
   {'team1': 'Ireland',
    'team2': 'West Indies',
    'winner': 'Ireland',
    'margin': '9 wickets',
    'ground': 'Hobart (905)',
    'matchDate': 'Oct 21, 2022',
    'scorecard': 'T20I # 1837'},
   {'team1': 'Scotland',
    'team2': 'Zimbabwe',
    'winner': 'Zimbabwe',
    'margin': '5 wickets',
    'ground': 'Hobart (905)',
    'matchDate': 'Oct 21, 2022',
    'scorecard': 'T20I # 1838'},
   {'team1': 'Australia',
    'team2': 'New Zealand',
    'winner': 'New Zealand',
    'margin': '89 runs',
    'ground': 'Sydney (132)',
    'matchDate': 'Oct 22, 2022',
    'scorecard': 'T20I # 1839'},
   {'team1': 'Afghanistan',
    'team2': 'England',
    'winner': 'England',
    'margin': '5 wickets',
    'ground': 'Perth (3404)',
    'matchDate': 'Oct 22, 2022',
    'scorecard': 'T20I # 1840'},
   {'team1': 'Ireland',
    'team2': 'Sri Lanka',
    'winner': 'Sri Lanka',
    'margin': '9 wickets',
    'ground': 'Hobart (905)',
    'matchDate': 'Oct 23, 2022',
    'scorecard': 'T20I # 1841'},
   {'team1': 'India',
    'team2': 'Pakistan',
    'winner': 'India',
    'margin': '4 wickets',
    'ground': 'Melbourne (61)',
    'matchDate': 'Oct 23, 2022',
    'scorecard': 'T20I # 1842'},
   {'team1': 'Bangladesh',
    'team2': 'Netherlands',
    'winner': 'Bangladesh',
    'margin': '9 runs',
    'ground': 'Hobart (905)',
    'matchDate': 'Oct 24, 2022',
    'scorecard': 'T20I # 1843'},
   {'team1': 'South Africa',
    'team2': 'Zimbabwe',
    'winner': 'no result',
    'margin': '-',
    'ground': 'Hobart (905)',
    'matchDate': 'Oct 24, 2022',
    'scorecard': 'T20I # 1844'},
   {'team1': 'Australia',
    'team2': 'Sri Lanka',
    'winner': 'Australia',
    'margin': '7 wickets',
    'ground': 'Perth (3404)',
    'matchDate': 'Oct 25, 2022',
    'scorecard': 'T20I # 1845'},
   {'team1': 'England',
    'team2': 'Ireland',
    'winner': 'Ireland',
    'margin': '5 runs',
    'ground': 'Melbourne (61)',
    'matchDate': 'Oct 26, 2022',
    'scorecard': 'T20I # 1846'},
   {'team1': 'Bangladesh',
    'team2': 'South Africa',
    'winner': 'South Africa',
    'margin': '104 runs',
    'ground': 'Sydney (132)',
    'matchDate': 'Oct 27, 2022',
    'scorecard': 'T20I # 1847'},
   {'team1': 'India',
    'team2': 'Netherlands',
    'winner': 'India',
    'margin': '56 runs',
    'ground': 'Sydney (132)',
    'matchDate': 'Oct 27, 2022',
    'scorecard': 'T20I # 1848'},
   {'team1': 'Pakistan',
    'team2': 'Zimbabwe',
    'winner': 'Zimbabwe',
    'margin': '1 run',
    'ground': 'Perth (3404)',
    'matchDate': 'Oct 27, 2022',
    'scorecard': 'T20I # 1849'},
   {'team1': 'New Zealand',
    'team2': 'Sri Lanka',
    'winner': 'New Zealand',
    'margin': '65 runs',
    'ground': 'Sydney (132)',
    'matchDate': 'Oct 29, 2022',
    'scorecard': 'T20I # 1850'},
   {'team1': 'Bangladesh',
    'team2': 'Zimbabwe',
    'winner': 'Bangladesh',
    'margin': '3 runs',
    'ground': 'Brisbane (209)',
    'matchDate': 'Oct 30, 2022',
    'scorecard': 'T20I # 1851'},
   {'team1': 'Netherlands',
    'team2': 'Pakistan',
    'winner': 'Pakistan',
    'margin': '6 wickets',
    'ground': 'Perth (3404)',
    'matchDate': 'Oct 30, 2022',
    'scorecard': 'T20I # 1852'},
   {'team1': 'India',
    'team2': 'South Africa',
    'winner': 'South Africa',
    'margin': '5 wickets',
    'ground': 'Perth (3404)',
    'matchDate': 'Oct 30, 2022',
    'scorecard': 'T20I # 1853'},
   {'team1': 'Australia',
    'team2': 'Ireland',
    'winner': 'Australia',
    'margin': '42 runs',
    'ground': 'Brisbane (209)',
    'matchDate': 'Oct 31, 2022',
    'scorecard': 'T20I # 1855'},
   {'team1': 'Afghanistan',
    'team2': 'Sri Lanka',
    'winner': 'Sri Lanka',
    'margin': '6 wickets',
    'ground': 'Brisbane (209)',
    'matchDate': 'Nov 1, 2022',
    'scorecard': 'T20I # 1856'},
   {'team1': 'England',
    'team2': 'New Zealand',
    'winner': 'England',
    'margin': '20 runs',
    'ground': 'Brisbane (209)',
    'matchDate': 'Nov 1, 2022',
    'scorecard': 'T20I # 1858'},
   {'team1': 'Netherlands',
    'team2': 'Zimbabwe',
    'winner': 'Netherlands',
    'margin': '5 wickets',
    'ground': 'Adelaide (131)',
    'matchDate': 'Nov 2, 2022',
    'scorecard': 'T20I # 1859'},
   {'team1': 'Bangladesh',
    'team2': 'India',
    'winner': 'India',
    'margin': '5 runs',
    'ground': 'Adelaide (131)',
    'matchDate': 'Nov 2, 2022',
    'scorecard': 'T20I # 1860'},
   {'team1': 'Pakistan',
    'team2': 'South Africa',
    'winner': 'Pakistan',
    'margin': '33 runs',
    'ground': 'Sydney (132)',
    'matchDate': 'Nov 3, 2022',
    'scorecard': 'T20I # 1861'},
   {'team1': 'Ireland',
    'team2': 'New Zealand',
    'winner': 'New Zealand',
    'margin': '35 runs',
    'ground': 'Adelaide (131)',
    'matchDate': 'Nov 4, 2022',
    'scorecard': 'T20I # 1862'},
   {'team1': 'Australia',
    'team2': 'Afghanistan',
    'winner': 'Australia',
    'margin': '4 runs',
    'ground': 'Adelaide (131)',
    'matchDate': 'Nov 4, 2022',
    'scorecard': 'T20I # 1864'},
   {'team1': 'England',
    'team2': 'Sri Lanka',
    'winner': 'England',
    'margin': '4 wickets',
    'ground': 'Sydney (132)',
    'matchDate': 'Nov 5, 2022',
    'scorecard': 'T20I # 1867'},
   {'team1': 'Netherlands',
    'team2': 'South Africa',
    'winner': 'Netherlands',
    'margin': '13 runs',
    'ground': 'Adelaide (131)',
    'matchDate': 'Nov 6, 2022',
    'scorecard': 'T20I # 1871'},
   {'team1': 'Bangladesh',
    'team2': 'Pakistan',
    'winner': 'Pakistan',
    'margin': '5 wickets',
    'ground': 'Adelaide (131)',
    'matchDate': 'Nov 6, 2022',
    'scorecard': 'T20I # 1872'},
   {'team1': 'India',
    'team2': 'Zimbabwe',
    'winner': 'India',
    'margin': '71 runs',
    'ground': 'Melbourne (61)',
    'matchDate': 'Nov 6, 2022',
    'scorecard': 'T20I # 1873'},
   {'team1': 'New Zealand',
    'team2': 'Pakistan',
    'winner': 'Pakistan',
    'margin': '7 wickets',
    'ground': 'Sydney (132)',
    'matchDate': 'Nov 9, 2022',
    'scorecard': 'T20I # 1877'},
   {'team1': 'England',
    'team2': 'India',
    'winner': 'England',
    'margin': '10 wickets',
    'ground': 'Adelaide (131)',
    'matchDate': 'Nov 10, 2022',
    'scorecard': 'T20I # 1878'},
   {'team1': 'England',
    'team2': 'Pakistan',
    'winner': 'England',
    'margin': '5 wickets',
    'ground': 'Melbourne (61)',
    'matchDate': 'Nov 13, 2022',
    'scorecard': 'T20I # 1879'}],
  'input': {}}]

### Convert the dictionary into a dataframe

In [3]:
df_match = pd.DataFrame(data[0]['matchSummary'])

In [4]:
df_match.head()

,team1,team2,winner,margin,ground,matchDate,scorecard
0,Namibia,Sri Lanka,Namibia,55 runs,Geelong (564),"Oct 16, 2022",T20I # 1823
1,Netherlands,U.A.E.,Netherlands,3 wickets,Geelong (564),"Oct 16, 2022",T20I # 1825
2,Scotland,West Indies,Scotland,42 runs,Hobart (905),"Oct 17, 2022",T20I # 1826
3,Ireland,Zimbabwe,Zimbabwe,31 runs,Hobart (905),"Oct 17, 2022",T20I # 1828
4,Namibia,Netherlands,Netherlands,5 wickets,Geelong (564),"Oct 18, 2022",T20I # 1830

### Analyzing the structure of the dataframe

In [5]:
df_match.shape

(42, 7)

### Renaming columns and cleaning data

In [6]:
df_match.rename({'scorecard': 'match_id'}, axis = 1, inplace = True)
df_match.head()

,team1,team2,winner,margin,ground,matchDate,match_id
0,Namibia,Sri Lanka,Namibia,55 runs,Geelong (564),"Oct 16, 2022",T20I # 1823
1,Netherlands,U.A.E.,Netherlands,3 wickets,Geelong (564),"Oct 16, 2022",T20I # 1825
2,Scotland,West Indies,Scotland,42 runs,Hobart (905),"Oct 17, 2022",T20I # 1826
3,Ireland,Zimbabwe,Zimbabwe,31 runs,Hobart (905),"Oct 17, 2022",T20I # 1828
4,Namibia,Netherlands,Netherlands,5 wickets,Geelong (564),"Oct 18, 2022",T20I # 1830

In [7]:
df_match['ground'] = df_match['ground'].apply(lambda x: re.sub(r'\([^)]*\)', '', x))
df_match.head()

,team1,team2,winner,margin,ground,matchDate,match_id
0,Namibia,Sri Lanka,Namibia,55 runs,Geelong,"Oct 16, 2022",T20I # 1823
1,Netherlands,U.A.E.,Netherlands,3 wickets,Geelong,"Oct 16, 2022",T20I # 1825
2,Scotland,West Indies,Scotland,42 runs,Hobart,"Oct 17, 2022",T20I # 1826
3,Ireland,Zimbabwe,Zimbabwe,31 runs,Hobart,"Oct 17, 2022",T20I # 1828
4,Namibia,Netherlands,Netherlands,5 wickets,Geelong,"Oct 18, 2022",T20I # 1830

### Creating Dictionary to map 'team1 vs team 2' to 'match_id'
This is done in order to create enable us to ctreate a relationship between the two tables further down the project.

In [8]:
match_ids_dict = {}
for index, row in df_match.iterrows():
    key1 = row["team1"] + ' Vs ' + row["team2"]
    key2 = row["team2"] + ' Vs ' + row["team1"]
    
    match_ids_dict[key1] = row["match_id"]
    match_ids_dict[key2] = row["match_id"]
match_ids_dict

{'Namibia Vs Sri Lanka': 'T20I # 1823',
 'Sri Lanka Vs Namibia': 'T20I # 1823',
 'Netherlands Vs U.A.E.': 'T20I # 1825',
 'U.A.E. Vs Netherlands': 'T20I # 1825',
 'Scotland Vs West Indies': 'T20I # 1826',
 'West Indies Vs Scotland': 'T20I # 1826',
 'Ireland Vs Zimbabwe': 'T20I # 1828',
 'Zimbabwe Vs Ireland': 'T20I # 1828',
 'Namibia Vs Netherlands': 'T20I # 1830',
 'Netherlands Vs Namibia': 'T20I # 1830',
 'Sri Lanka Vs U.A.E.': 'T20I # 1832',
 'U.A.E. Vs Sri Lanka': 'T20I # 1832',
 'Ireland Vs Scotland': 'T20I # 1833',
 'Scotland Vs Ireland': 'T20I # 1833',
 'West Indies Vs Zimbabwe': 'T20I # 1834',
 'Zimbabwe Vs West Indies': 'T20I # 1834',
 'Netherlands Vs Sri Lanka': 'T20I # 1835',
 'Sri Lanka Vs Netherlands': 'T20I # 1835',
 'Namibia Vs U.A.E.': 'T20I # 1836',
 'U.A.E. Vs Namibia': 'T20I # 1836',
 'Ireland Vs West Indies': 'T20I # 1837',
 'West Indies Vs Ireland': 'T20I # 1837',
 'Scotland Vs Zimbabwe': 'T20I # 1838',
 'Zimbabwe Vs Scotland': 'T20I # 1838',
 'Australia Vs New Zealand': 'T20I # 1839',
 'New Zealand Vs Australia': 'T20I # 1839',
 'Afghanistan Vs England': 'T20I # 1840',
 'England Vs Afghanistan': 'T20I # 1840',
 'Ireland Vs Sri Lanka': 'T20I # 1841',
 'Sri Lanka Vs Ireland': 'T20I # 1841',
 'India Vs Pakistan': 'T20I # 1842',
 'Pakistan Vs India': 'T20I # 1842',
 'Bangladesh Vs Netherlands': 'T20I # 1843',
 'Netherlands Vs Bangladesh': 'T20I # 1843',
 'South Africa Vs Zimbabwe': 'T20I # 1844',
 'Zimbabwe Vs South Africa': 'T20I # 1844',
 'Australia Vs Sri Lanka': 'T20I # 1845',
 'Sri Lanka Vs Australia': 'T20I # 1845',
 'England Vs Ireland': 'T20I # 1846',
 'Ireland Vs England': 'T20I # 1846',
 'Bangladesh Vs South Africa': 'T20I # 1847',
 'South Africa Vs Bangladesh': 'T20I # 1847',
 'India Vs Netherlands': 'T20I # 1848',
 'Netherlands Vs India': 'T20I # 1848',
 'Pakistan Vs Zimbabwe': 'T20I # 1849',
 'Zimbabwe Vs Pakistan': 'T20I # 1849',
 'New Zealand Vs Sri Lanka': 'T20I # 1850',
 'Sri Lanka Vs New Zealand': 'T20I # 1850',
 'Bangladesh Vs Zimbabwe': 'T20I # 1851',
 'Zimbabwe Vs Bangladesh': 'T20I # 1851',
 'Netherlands Vs Pakistan': 'T20I # 1852',
 'Pakistan Vs Netherlands': 'T20I # 1852',
 'India Vs South Africa': 'T20I # 1853',
 'South Africa Vs India': 'T20I # 1853',
 'Australia Vs Ireland': 'T20I # 1855',
 'Ireland Vs Australia': 'T20I # 1855',
 'Afghanistan Vs Sri Lanka': 'T20I # 1856',
 'Sri Lanka Vs Afghanistan': 'T20I # 1856',
 'England Vs New Zealand': 'T20I # 1858',
 'New Zealand Vs England': 'T20I # 1858',
 'Netherlands Vs Zimbabwe': 'T20I # 1859',
 'Zimbabwe Vs Netherlands': 'T20I # 1859',
 'Bangladesh Vs India': 'T20I # 1860',
 'India Vs Bangladesh': 'T20I # 1860',
 'Pakistan Vs South Africa': 'T20I # 1861',
 'South Africa Vs Pakistan': 'T20I # 1861',
 'Ireland Vs New Zealand': 'T20I # 1862',
 'New Zealand Vs Ireland': 'T20I # 1862',
 'Australia Vs Afghanistan': 'T20I # 1864',
 'Afghanistan Vs Australia': 'T20I # 1864',
 'England Vs Sri Lanka': 'T20I # 1867',
 'Sri Lanka Vs England': 'T20I # 1867',
 'Netherlands Vs South Africa': 'T20I # 1871',
 'South Africa Vs Netherlands': 'T20I # 1871',
 'Bangladesh Vs Pakistan': 'T20I # 1872',
 'Pakistan Vs Bangladesh': 'T20I # 1872',
 'India Vs Zimbabwe': 'T20I # 1873',
 'Zimbabwe Vs India': 'T20I # 1873',
 'New Zealand Vs Pakistan': 'T20I # 1877',
 'Pakistan Vs New Zealand': 'T20I # 1877',
 'England Vs India': 'T20I # 1878',
 'India Vs England': 'T20I # 1878',
 'England Vs Pakistan': 'T20I # 1879',
 'Pakistan Vs England': 'T20I # 1879'}

### Export the finished '.csv' file

In [9]:
df_match.to_csv('clean_match_summary.csv', index = False)

## Processing File II : Batting Summary

### Convert the dictionary into a dataframe

In [10]:
with open('T20_Batting_Summary.json') as fptr:
    data = json.load(fptr)
    all_records = []
    for rec in data:
            all_records.extend(rec['battingSummary'])
df_batting = pd.DataFrame(all_records)

In [11]:
df_batting.head()

,match,teamInnings,battingPos,batsmanName,dismissal,runs,balls,4s,6s,SR
0,Namibia Vs Sri Lanka,Namibia,1,Michael van Lingen,c Pramod Madushan b Chameera,3,6,0,0,50.00
1,Namibia Vs Sri Lanka,Namibia,2,Divan la Cock,c Shanaka b Pramod Madushan,9,9,1,0,100.00
2,Namibia Vs Sri Lanka,Namibia,3,Jan Nicol Loftie-Eaton,c â€ Mendis b Karunaratne,20,12,1,2,166.66
3,Namibia Vs Sri Lanka,Namibia,4,Stephan Baard,c DM de Silva b Pramod Madushan,26,24,2,0,108.33
4,Namibia Vs Sri Lanka,Namibia,5,Gerhard Erasmus(c),c Gunathilaka b PWH de Silva,20,24,0,0,83.33

### Analyzing the structure of the dataframe

In [12]:
df_batting.shape

(699, 10)

In [13]:
df_batting.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 699 entries, 0 to 698
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   match        699 non-null    object
 1   teamInnings  699 non-null    object
 2   battingPos   699 non-null    int64
 3   batsmanName  699 non-null    object
 4   dismissal    699 non-null    object
 5   runs         699 non-null    object
 6   balls        699 non-null    object
 7   4s           699 non-null    object
 8   6s           699 non-null    object
 9   SR           699 non-null    object
dtypes: int64(1), object(9)
memory usage: 54.7+ KB

### Renaming columns and cleaning data

#### We convert the dismissal column into out/not out

In [14]:
df_batting["out/not_out"] = df_batting.dismissal.apply(lambda x: "out" if x != x else "not_out")

In [15]:
df_batting.head(15)

,match,teamInnings,battingPos,batsmanName,dismissal,runs,balls,4s,6s,SR,out/not_out
0,Namibia Vs Sri Lanka,Namibia,1,Michael van Lingen,c Pramod Madushan b Chameera,3,6,0,0,50.00,not_out
1,Namibia Vs Sri Lanka,Namibia,2,Divan la Cock,c Shanaka b Pramod Madushan,9,9,1,0,100.00,not_out
2,Namibia Vs Sri Lanka,Namibia,3,Jan Nicol Loftie-Eaton,c â€ Mendis b Karunaratne,20,12,1,2,166.66,not_out
3,Namibia Vs Sri Lanka,Namibia,4,Stephan Baard,c DM de Silva b Pramod Madushan,26,24,2,0,108.33,not_out
4,Namibia Vs Sri Lanka,Namibia,5,Gerhard Erasmus(c),c Gunathilaka b PWH de Silva,20,24,0,0,83.33,not_out
5,Namibia Vs Sri Lanka,Namibia,6,Jan Frylinck,run out (Gunathilaka/â€ Mendis),44,28,4,0,157.14,not_out
6,Namibia Vs Sri Lanka,Namibia,7,David Wiese,c â€ Mendis b Theekshana,0,1,0,0,0.00,not_out
7,Namibia Vs Sri Lanka,Namibia,8,JJ Smit,,31,16,2,2,193.75,not_out
8,Namibia Vs Sri Lanka,Sri Lanka,1,Pathum Nissanka,c Smit b Shikongo,9,10,1,0,90.00,not_out
9,Namibia Vs Sri Lanka,Sri Lanka,2,Kusal Mendisâ€,c â€ Green b Wiese,6,6,0,0,100.00,not_out
10,Namibia Vs Sri Lanka,Sri Lanka,3,Dhananjaya de Silva,c Shikongo b Frylinck,12,11,1,0,109.09,not_out
11,Namibia Vs Sri Lanka,Sri Lanka,4,Danushka Gunathilaka,c â€ Green b Shikongo,0,1,0,0,0.00,not_out
12,Namibia Vs Sri Lanka,Sri Lanka,5,Bhanuka Rajapaksa,c la Cock b Scholtz,20,21,2,0,95.23,not_out
13,Namibia Vs Sri Lanka,Sri Lanka,6,Dasun Shanaka(c),c â€ Green b Frylinck,29,23,2,1,126.08,not_out
14,Namibia Vs Sri Lanka,Sri Lanka,7,Wanindu Hasaranga de Silva,c Loftie-Eaton b Scholtz,4,8,0,0,50.00,not_out

In [16]:
df_batting.drop(columns = ['dismissal'], inplace = True)
df_batting.head()

,match,teamInnings,battingPos,batsmanName,runs,balls,4s,6s,SR,out/not_out
0,Namibia Vs Sri Lanka,Namibia,1,Michael van Lingen,3,6,0,0,50.00,not_out
1,Namibia Vs Sri Lanka,Namibia,2,Divan la Cock,9,9,1,0,100.00,not_out
2,Namibia Vs Sri Lanka,Namibia,3,Jan Nicol Loftie-Eaton,20,12,1,2,166.66,not_out
3,Namibia Vs Sri Lanka,Namibia,4,Stephan Baard,26,24,2,0,108.33,not_out
4,Namibia Vs Sri Lanka,Namibia,5,Gerhard Erasmus(c),20,24,0,0,83.33,not_out

In [17]:
df_batting['batsmanName'] = df_batting['batsmanName'].apply(lambda x: x.replace('â€', ''))
df_batting['batsmanName'] = df_batting['batsmanName'].apply(lambda x: x.replace('\xa0', ''))
df_batting['batsmanName'] = df_batting['batsmanName'].apply(lambda x: x.replace('(c)', ''))
df_batting.head(15)

,match,teamInnings,battingPos,batsmanName,runs,balls,4s,6s,SR,out/not_out
0,Namibia Vs Sri Lanka,Namibia,1,Michael van Lingen,3,6,0,0,50.00,not_out
1,Namibia Vs Sri Lanka,Namibia,2,Divan la Cock,9,9,1,0,100.00,not_out
2,Namibia Vs Sri Lanka,Namibia,3,Jan Nicol Loftie-Eaton,20,12,1,2,166.66,not_out
3,Namibia Vs Sri Lanka,Namibia,4,Stephan Baard,26,24,2,0,108.33,not_out
4,Namibia Vs Sri Lanka,Namibia,5,Gerhard Erasmus,20,24,0,0,83.33,not_out
5,Namibia Vs Sri Lanka,Namibia,6,Jan Frylinck,44,28,4,0,157.14,not_out
6,Namibia Vs Sri Lanka,Namibia,7,David Wiese,0,1,0,0,0.00,not_out
7,Namibia Vs Sri Lanka,Namibia,8,JJ Smit,31,16,2,2,193.75,not_out
8,Namibia Vs Sri Lanka,Sri Lanka,1,Pathum Nissanka,9,10,1,0,90.00,not_out
9,Namibia Vs Sri Lanka,Sri Lanka,2,Kusal Mendis,6,6,0,0,100.00,not_out
10,Namibia Vs Sri Lanka,Sri Lanka,3,Dhananjaya de Silva,12,11,1,0,109.09,not_out
11,Namibia Vs Sri Lanka,Sri Lanka,4,Danushka Gunathilaka,0,1,0,0,0.00,not_out
12,Namibia Vs Sri Lanka,Sri Lanka,5,Bhanuka Rajapaksa,20,21,2,0,95.23,not_out
13,Namibia Vs Sri Lanka,Sri Lanka,6,Dasun Shanaka,29,23,2,1,126.08,not_out
14,Namibia Vs Sri Lanka,Sri Lanka,7,Wanindu Hasaranga de Silva,4,8,0,0,50.00,not_out

In [18]:
df_batting["match_id"] = df_batting["match"].map(match_ids_dict)
df_batting.head()

,match,teamInnings,battingPos,batsmanName,runs,balls,4s,6s,SR,out/not_out,match_id
0,Namibia Vs Sri Lanka,Namibia,1,Michael van Lingen,3,6,0,0,50.00,not_out,T20I # 1823
1,Namibia Vs Sri Lanka,Namibia,2,Divan la Cock,9,9,1,0,100.00,not_out,T20I # 1823
2,Namibia Vs Sri Lanka,Namibia,3,Jan Nicol Loftie-Eaton,20,12,1,2,166.66,not_out,T20I # 1823
3,Namibia Vs Sri Lanka,Namibia,4,Stephan Baard,26,24,2,0,108.33,not_out,T20I # 1823
4,Namibia Vs Sri Lanka,Namibia,5,Gerhard Erasmus,20,24,0,0,83.33,not_out,T20I # 1823

### Export the finished '.csv' file

In [19]:
df_batting.to_csv('clean_batting_summary.csv', index = False)

## Processing File III: Batting Summary

### Convert the dictionary into a dataframe

In [20]:
with open('T20_Bowling_Summary.json') as fptr:
    data = json.load(fptr)
    all_records = []
    for rec in data:
            all_records.extend(rec['bowlingSummary'])
df_bowling = pd.DataFrame(all_records)

### Analyzing bowling summary dataframe's structure

In [21]:
df_bowling.shape

(500, 13)

In [22]:
df_bowling.head()

,match,bowlingTeam,bowlerName,overs,maiden,runs,wickets,economy,0s,4s,6s,wides,noBalls
0,Namibia Vs Sri Lanka,Sri Lanka,Maheesh Theekshana,4,0,23,1,5.75,7,0,0,2,0
1,Namibia Vs Sri Lanka,Sri Lanka,Dushmantha Chameera,4,0,39,1,9.75,6,3,1,2,0
2,Namibia Vs Sri Lanka,Sri Lanka,Pramod Madushan,4,0,37,2,9.25,6,3,1,0,0
3,Namibia Vs Sri Lanka,Sri Lanka,Chamika Karunaratne,4,0,36,1,9.00,7,3,1,1,0
4,Namibia Vs Sri Lanka,Sri Lanka,Wanindu Hasaranga de Silva,4,0,27,1,6.75,8,1,1,0,0

### Renaming columns and cleaning data

In [23]:
df_bowling['match_id'] = df_bowling['match'].map(match_ids_dict)
df_bowling.head()

,match,bowlingTeam,bowlerName,overs,maiden,runs,wickets,economy,0s,4s,6s,wides,noBalls,match_id
0,Namibia Vs Sri Lanka,Sri Lanka,Maheesh Theekshana,4,0,23,1,5.75,7,0,0,2,0,T20I # 1823
1,Namibia Vs Sri Lanka,Sri Lanka,Dushmantha Chameera,4,0,39,1,9.75,6,3,1,2,0,T20I # 1823
2,Namibia Vs Sri Lanka,Sri Lanka,Pramod Madushan,4,0,37,2,9.25,6,3,1,0,0,T20I # 1823
3,Namibia Vs Sri Lanka,Sri Lanka,Chamika Karunaratne,4,0,36,1,9.00,7,3,1,1,0,T20I # 1823
4,Namibia Vs Sri Lanka,Sri Lanka,Wanindu Hasaranga de Silva,4,0,27,1,6.75,8,1,1,0,0,T20I # 1823

### Export the finished '.csv' file

In [24]:
df_bowling.to_csv('clean_bowling_summary.csv', index = False)

## Processing File IV : Player Info Summary

### Convert the dictionary into a dataframe

In [25]:
with open('T20_Player_Info.json') as fptr:
    data = json.load(fptr)
df_players = pd.DataFrame(data)

In [26]:
df_players.head(10)

,name,team,battingStyle,bowlingStyle,playingRole,description
0,Michael van Lingen,Namibia,Left hand Bat,Left arm Medium,Bowling Allrounder,
1,Divan la Cock,Namibia,Right hand Bat,Legbreak,Opening Batter,
2,Jan Nicol Loftie-Eaton,Namibia,Left hand Bat,"Right arm Medium, Legbreak",Batter,
3,Stephan Baard,Namibia,Right hand Bat,Right arm Medium fast,Batter,
4,Gerhard Erasmus(c),Namibia,Right hand Bat,Right arm Offbreak,Allrounder,
5,Jan Frylinck,Namibia,Left hand Bat,Left arm Fast medium,Allrounder,
6,David Wiese,Namibia,Right hand Bat,Right arm Medium fast,Allrounder,David Wiese joined a marked outflow of South A...
7,JJ Smit,Namibia,Right hand Bat,Left arm Medium fast,Bowling Allrounder,
8,Pathum Nissanka,Sri Lanka,Right hand Bat,,Top order Batter,
9,Kusal Mendisâ€,Sri Lanka,Right hand Bat,Legbreak,Wicketkeeper Batter,"Blessed with a compact technique, an aggressiv..."

### Analyzing the structure of the dataframe

In [27]:
df_players.shape

(219, 6)

### Renaming columns and cleaning data

In [28]:
df_players['name'] = df_players['name'].apply(lambda x: x.replace('â€', ''))
df_players['name'] = df_players['name'].apply(lambda x: x.replace('†', ''))
df_players['name'] = df_players['name'].apply(lambda x: x.replace('\xa0', ''))
df_players['name'] = df_players['name'].apply(lambda x: x.replace('(c)', ''))
df_players.head(10)

,name,team,battingStyle,bowlingStyle,playingRole,description
0,Michael van Lingen,Namibia,Left hand Bat,Left arm Medium,Bowling Allrounder,
1,Divan la Cock,Namibia,Right hand Bat,Legbreak,Opening Batter,
2,Jan Nicol Loftie-Eaton,Namibia,Left hand Bat,"Right arm Medium, Legbreak",Batter,
3,Stephan Baard,Namibia,Right hand Bat,Right arm Medium fast,Batter,
4,Gerhard Erasmus,Namibia,Right hand Bat,Right arm Offbreak,Allrounder,
5,Jan Frylinck,Namibia,Left hand Bat,Left arm Fast medium,Allrounder,
6,David Wiese,Namibia,Right hand Bat,Right arm Medium fast,Allrounder,David Wiese joined a marked outflow of South A...
7,JJ Smit,Namibia,Right hand Bat,Left arm Medium fast,Bowling Allrounder,
8,Pathum Nissanka,Sri Lanka,Right hand Bat,,Top order Batter,
9,Kusal Mendis,Sri Lanka,Right hand Bat,Legbreak,Wicketkeeper Batter,"Blessed with a compact technique, an aggressiv..."

In [29]:
df_players.head()

,name,team,battingStyle,bowlingStyle,playingRole,description
0,Michael van Lingen,Namibia,Left hand Bat,Left arm Medium,Bowling Allrounder,
1,Divan la Cock,Namibia,Right hand Bat,Legbreak,Opening Batter,
2,Jan Nicol Loftie-Eaton,Namibia,Left hand Bat,"Right arm Medium, Legbreak",Batter,
3,Stephan Baard,Namibia,Right hand Bat,Right arm Medium fast,Batter,
4,Gerhard Erasmus,Namibia,Right hand Bat,Right arm Offbreak,Allrounder,

### Export the finished '.csv' file

In [30]:
df_players.to_csv('clean_player_info.csv', index = False)